
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home:home' %}"><span style="font-size: 1.5em;">+ Barato</span> <small>Plataforma de Marketing digital.</small></a>
            </div>
            <div class="collapse navbar-collapse">
                <p class="navbar-text navbar-right">
                    <span>Não Possui uma conta? <a href="#">Crie Gratis</a></span> Ou
                    <a href="{% url 'acesso:login' %}" class="btn-info btn-sm">Faça Login</a>
                </p>
            </div>
        </div>
    </nav>