
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'acesso:minha_conta' %}">{{ request.user.nome_estabelecimento }}</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="{{ inicio }}">
                    <a href="{% url 'home:inicio' %}">Início</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse">
                <p class="navbar-text navbar-right">
                    Logado como:
                    <a href="{% url 'acesso:minha_conta' %}" class=" text-capitalize navbar-link">{{ request.user.username }}</a>
                </p>
            </div>
        </div>
    </nav>