<div class="row">
    <div class="col-md-8 form-group">
        <span class="text-danger" title="Campo Obrigatório">*</span><label for="nome_produto">Nome do Produto</label>
        <input class="form-control" type="text" data-bind="value:nome" id="nome_produto"
               placeholder="Leite longa vida Parmalat">
        <p class="text-danger hidden" id="msgError">* Já existe um produto com esse nome</p>
        <p class="text-danger" data-bind="if:nomeObrigatorio">* Este campo é obrigatório</p>
    </div>

    <div class="col-md-4 form-group">
        <span class="text-danger" title="Campo Obrigatório">*</span><label for="ref_produto">Referencia do
        Produto</label>
        <input class="form-control" data-bind="value:referencia" type="text" id="ref_produto" placeholder="1 litro">
        <p class="text-danger" data-bind="if:referenciaObrigatorio">* Este campo é obrigatório</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 form-group">
        <span class="text-danger" title="Campo Obrigatório">*</span><label for="preco_original_produto">Preço
        Normal</label>
        <div class="input-group">
            <div class="input-group-addon">R$</div>
            <input class="form-control" data-bind="value:preco_normal" type="text" id="preco_original_produto"
                   placeholder="3.75">
        </div>
        <p class="text-danger" data-bind="if:precoNormalObrigatorio">* Este campo é obrigatório</p>
    </div>

    <div class="col-md-4 form-group">
        <label for="preco_promocional">Preço Promocional</label>
        <div class="input-group">
            <div class="input-group-addon">R$</div>
            <input class="form-control" data-bind="value:preco_promocional" type="text" id="preco_promocional"
                   placeholder="2.50">
        </div>
        <p class="text-info">
            <small>Este valor poderá ser alterado mais tarde</small>
        </p>
    </div>

    <div class="col-md-4 form-group text-center" data-bind="if:linkImg">
        <img data-bind="attr:{src :linkImg}" width="120" height="120" alt="img do produto">
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-group">
        <span class="text-danger" title="Campo Obrigatório">*</span><label for="url-imagem">Link da Imagem</label>
        <div class="input-group">
            <div class="input-group-addon">http:</div>
            <input class="form-control" data-bind="value:linkImg" type="url" id="url-imagem">
        </div>
        <p class="text-danger" data-bind="if:linkImgObrigatorio">* Este campo é obrigatório</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <div data-bind="ifnot: exibirFormCategoria">
            <span class="text-danger" title="Campo Obrigatório">*</span><label for="categoria">Seção</label>

            <div class="input-group">

                <select data-bind="options:categorias,optionsText:'nome',optionsValue:'id',value:categoria,optionsCaption:'Escolha a Seção'"
                        class="form-control" id="categoria">
                </select>

                <span class="input-group-btn">
                <button class="btn btn-link" title="Nova Categoria" id="novaCategoria"
                        data-bind="click:abrirFormCategoria">
                    <span class="glyphicon glyphicon-plus text-success"></span>
                </button>
            </span>
            </div>
            <p class="text-danger" data-bind="if:categoriaObrigatorio">* Este campo é obrigatório</p>
        </div>

        <div data-bind="if:exibirFormCategoria">
            <label for="categoria">Nome da Seção</label>

            <div class="input-group">
                <input type="text" id="nome_secao" data-bind="value:nomeNovaCategoria" class="form-control">

                <span class="input-group-btn">
                <button class="btn btn-success" title="Salvar" id="salvarCategoria" data-bind="click:salvarNovaCategoria"
                        data-bind="click:abrirFormCategoria">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                <button class="btn btn-danger" title="Voltar" id="cancelarCategoria" data-bind="click:fecharFormCategoria"
                        data-bind="click:abrirFormCategoria">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </span>
            </div>
        </div>
    </div>
</div>