{% extends 'base.html' %}

{% block title %}Catalogos{% endblock %}

{% block navbar %}
    {% include 'tags/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="panel-title text-bold">Catalogos criados</h2>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'catalogo:novo_catalogo' %}" class="btn btn-success pull-right">
                            <span class="glyphicon glyphicon-plus-sign"></span> Novo Catalogo
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Validade</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ano Novo Tropical</td>
                        <td>01/01/2018 à 31/01/2018</td>
                        <td class="text-success text-bold">Ativo</td>
                        <td>
                            <button type="button" class="btn btn-default" title="Desativar"
                                    aria-label="Left Align">
                                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Editar" aria-label="Left Align">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning" title="Visualizar"
                                    aria-label="Left Align">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger" title="Remover" aria-label="Left Align">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}