{% extends 'home/home_autenticado.html' %}
{% load static %}
{% load widget_tweaks %}
{% load validations %}
{% block subtitle %} {% if produto %} Editar Produto {% else %} Cadastrar Produto{% endif %}{% endblock %}


{% block content-menu %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if produto %}
                <h4 class="panel-title">Editar Produto</h4>
            {% else %}
                <h4 class="panel-title">Novo Produto</h4>
            {% endif %}
        </div>
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        {% validations form.errors %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8 form-group">
                                <label for="{{ form.nome_produto.id_for_label }}">Nome do Produto</label>
                                {% render_field form.nome_produto class="form-control" type="text" placeholder="Informe o nome do produto" %}
                                {% validations form.nome_produto.errors %}
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="{{ form.ref.id_for_label }}">Referencia do Produto</label>
                                {% render_field form.ref|add_class:"form-control"|attr:"placeholder:Referencia do produto" %}
                                {% validations form.ref.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="{{ form.preco_normal.id_for_label }}">Preço</label>
                                <div class="input-group">
                                    <div class="input-group-addon">R$</div>
                                    {% render_field form.preco_normal|add_class:"form-control" %}
                                </div>
                                {% validations form.preco_normal.errors %}
                            </div>

                            <div class="col-md-8 form-group">
                                <label for="{{ form.imagem.id_for_label }}">Link da Imagem</label>
                                {% render_field form.imagem type="url" %}
                                {% validations form.imagem.errors %}
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="{{ form.secao.id_for_label }}">Seção</label>
                                <div class="input-group">
                                    {% render_field form.secao class="form-control" %}
                                    <span class="input-group-btn">
                                            <a href="{% url 'utils:categoria' %}" class="btn btn-link"
                                               title="Nova Categoria" id="novaCategoria">
                                                <span class="glyphicon glyphicon-plus text-success"></span>
                                            </a>
                                        </span>
                                </div>
                                {% validations form.secao.errors %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 form-group text-center">
                        {% if produto.imagem %}
                            <img src="{{ produto.imagem.url }}" width="250" height="250" id="fotoProduto" alt="img do produto">
                        {% else %}
                            <img src="{% static 'img/sem_imagem.jpg' %}" width="250" height="250" id="fotoProduto" alt="img do produto">
                        {% endif %}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if produto %}
                            <button type="submit" id="btnSalvar" class="btn btn-primary">Atualizar</button>
                        {% else %}
                            <button type="submit" id="btnSalvar" class="btn btn-primary">Cadastrar</button>
                        {% endif %}

                        <a href="{% url 'home:inicio' %}" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/produto/produto.js' %}"></script>
{% endblock %}
